name: Test

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install -e . scipy-stubs pytest mypy
      - run: mypy .
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: |
          python -m venv env
          source env/bin/activate
          pip install -e . pytest
          pytest
